In [2]:
from pathlib import Path
import sys

# Define project root dynamically, gets the current directory from which the notebook belongs and moves one level upper
project_root = Path.cwd().parent

# Add src to sys.path if it is not already
if str(project_root) not in sys.path:

    sys.path.append(str(project_root))

# Import function directly (more controlled than import *)
from src import *


from IPython.display import display, HTML
import os

#### __1 Data Parsing__
 
Weather data source for Chicago in November 2017 from the website:

[https://practicum-content.s3.us-west-1.amazonaws.com/data-analyst-eng/moved_chicago_weather_2017.html]

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

URL = 'https://practicum-content.s3.us-west-1.amazonaws.com/data-analyst-eng/moved_chicago_weather_2017.html'

response = requests.get(URL)

In [4]:
response

In [5]:
if response.status_code == 200:
    df_weather_records = pd.read_html(URL)[0] # pandas method to get tables within HTML

else:
    print("> Error: API query - ", response.status_code)

In [9]:
df_weather_records

      Date and time  Temperature     Description
0    2017-11-01 ...       276.15   broken clouds
1    2017-11-01 ...       275.70  scattered c...
2    2017-11-01 ...       275.61  overcast cl...
3    2017-11-01 ...       275.35   broken clouds
4    2017-11-01 ...       275.24   broken clouds
..              ...          ...             ...
692  2017-11-29 ...       281.34      few clouds
693  2017-11-29 ...       281.69    sky is clear
694  2017-11-29 ...       281.07      few clouds
695  2017-11-29 ...       280.06    sky is clear
696  2017-11-30 ...       278.46    sky is clear

[697 rows x 3 columns]

In [6]:
df_weather_records['record_id'] = range(1, len(df_weather_records) +1)
cols = df_weather_records.columns.tolist()
df_weather_records = df_weather_records[[cols[-1]] + cols[:-1]]

In [7]:
project_root = Path.cwd().parent
processed_path = project_root / "data" / "processed" / "clean" / "weather_records_ws.csv"
df_weather_records.to_csv(processed_path, index=False)