#### Data set cleaning

Dataset: 

DB from Oracle | Postgre tables

- _zuber_cabs_
- _zuber_neighborhoods_
- _zuber_trips_
- _zuber_weather_records_

Author: Luis Sergio Pastrana Lemus  
Date: 2027-07-17

# Data Cleaning – Zuber travel Dataset

## __1. Libraries__.

In [1]:
from pathlib import Path
import sys

# Define project root dynamically, gets the current directory from which the notebook belongs and moves one level upper
project_root = Path.cwd().parent

# Add src to sys.path if it is not already
if str(project_root) not in sys.path:

    sys.path.append(str(project_root))

# Import function directly (more controlled than import *)
from src import *


from IPython.display import display, HTML
import os
import pandas as pd

from sqlalchemy import create_engine
import oracledb
import psycopg2

## __2. SQL query to Data file__.

In [2]:
# Oracle

# conn = oracledb.connect(user="LUIS", password="P45tr4n4L3mu5", dsn="127.0.0.1:1521/FREEPDB1")

engine_oracle = create_engine("oracle+oracledb://LUIS:P45tr4n4L3mu5@127.0.0.1:1521/?service_name=FREEPDB1")

# conn.close()

In [3]:
# Postgre

# conn = psycopg2.connect(dbname="dataAnalysis", user="luis", password="P45tr4n4L3mu5", host="127.0.0.1", port="5432")

engine_postgre = create_engine("postgresql+psycopg2://luis:P45tr4n4L3mu5@127.0.0.1:5432/dataAnalysis")

# conn.close()

In [4]:
query_cabs = """
SELECT *
FROM zuber_cabs
"""

query_neighborhoods = """
SELECT *
FROM zuber_neighborhoods
"""

query_trips = """
SELECT *
FROM zuber_trips
"""

query_weather_records = """
SELECT *
FROM zuber_weather_records
"""

# df_cabs = pd.read_sql(query_cabs, conn)

df_cabs = pd.read_sql(query_cabs, engine_postgre)
df_neighborhoods = pd.read_sql(query_neighborhoods, engine_postgre)
df_trips = pd.read_sql(query_trips, engine_postgre)
df_weather_records = pd.read_sql(query_weather_records, engine_postgre)

##### `LSPL`

**Note:** `keep_default_na=False` is used to later convert missing values to `pd.NA`.  
This is beneficial because `pd.NA` provides:

- Consistency across data types  
- Type integrity preservation  
- Cleaner logical operations  
- Improved control over missing data

Since high performance or heavy computation is not required here, using `pd.NA` is appropriate.

In [5]:
# Format notebook output
format_notebook()

## __3. Data set cleaning__.

In [6]:
df_cabs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cab_id        200 non-null    int64
 1   vehicle_id    200 non-null    object
 2   company_name  200 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.8+ KB

In [7]:
df_cabs

     cab_id                                         vehicle_id                       company_name
0         0  0fc17a66d66501eebb7d065fab0db585a1e546ea6e52aa...          Dispatch Taxi Affiliation
1         1  38f6145c9a2b848dc1baa16fd91087e606b12bcb8757a9...   Taxi Affiliation Services Yellow
2         2  11c21d0290e089e5de4a3c49612642df5cd364c7fd1bf8...          Star North Management LLC
3         3  43c12494b50abeb5a2c4e69b1538e50d625dc2fb8d844c...          Dispatch Taxi Affiliation
4         4  a48710b8f311c1332ff9841727e734a4e520cf5cb3c8be...  Blue Ribbon Taxi Association Inc.
..      ...                                                ...                                ...
195     195  9077249de291bdcb3f9f87f79fe7c757933908fc76f93f...  Blue Ribbon Taxi Association Inc.
196     196  071d031c64f608418d27905c9ffe95bf52695615683d5f...   Taxi Affiliation Services Yellow
197     197  ca34d94ac12a6fa567c1d6769f6309a2ef7f8f275e14fc...   Taxi Affiliation Services Yellow
198     198  81250fce5a1d9a7c9faf3a5c15fa647d74eb7510b48933...   Taxi Affiliation Services Yellow
199     199  ec9365ed1483ab537c2fc1c146b84bf4a1f6cea82cc320...          Star North Management LLC

[200 rows x 3 columns]

In [8]:
df_neighborhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   neighborhood_id  94 non-null     int64
 1   name             94 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.6+ KB

In [9]:
df_neighborhoods

    neighborhood_id            name
0                 0     Albany Park
1                 1   Andersonville
2                 2  Archer Heights
3                 3   Armour Square
4                 4         Ashburn
..              ...             ...
89               89      West Ridge
90               90       West Town
91               91     Wicker Park
92               92        Woodlawn
93               93    Wrigleyville

[94 rows x 2 columns]

In [10]:
df_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              200 non-null    int64
 1   cab_id               200 non-null    int64
 2   start_ts             200 non-null    object
 3   end_ts               200 non-null    object
 4   duration_seconds     200 non-null    int64
 5   distance_miles       200 non-null    float64
 6   pickup_location_id   200 non-null    int64
 7   dropoff_location_id  200 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 12.6+ KB

In [11]:
df_trips

     trip_id  cab_id             start_ts               end_ts  duration_seconds  distance_miles  pickup_location_id  dropoff_location_id
0          1     151  2017-11-07 21:00:00  2017-11-07 21:00:00                81            0.04                   7                   12
1          2     151  2017-11-18 21:00:00  2017-11-18 21:00:00               671            0.65                  32                   29
2          3     176  2017-11-03 14:00:00  2017-11-03 15:00:00               318            0.90                  24                   32
3          4      74  2017-11-24 04:00:00  2017-11-24 04:00:00               115            0.40                   0                    4
4          5      39  2017-11-12 03:00:00  2017-11-12 03:00:00               475            1.60                  62                   59
..       ...     ...                  ...                  ...               ...             ...                 ...                  ...
195      196       4  2017-11-17 20:00:00  2017-11-17 20:00:00                 1            0.00                  17                   15
196      197      81  2017-11-08 13:00:00  2017-11-08 13:00:00                 0            0.04                   3                   11
197      198      81  2017-11-20 12:00:00  2017-11-20 12:00:00                60            0.11                  12                    0
198      199      81  2017-11-01 12:00:00  2017-11-01 12:00:00               120            0.41                  14                   16
199      200      24  2017-11-21 06:00:00  2017-11-21 06:00:00                 3            0.00                   4                    3

[200 rows x 8 columns]

In [12]:
df_weather_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   record_id      697 non-null    int64
 1   Date and time  697 non-null    object
 2   Temperature    697 non-null    float64
 3   Description    697 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 21.9+ KB

In [13]:
df_weather_records

     record_id        Date and time  Temperature       Description
0            1  2017-11-01 00:00:00       276.15     broken clouds
1            2  2017-11-01 01:00:00       275.70  scattered clouds
2            3  2017-11-01 02:00:00       275.61   overcast clouds
3            4  2017-11-01 03:00:00       275.35     broken clouds
4            5  2017-11-01 04:00:00       275.24     broken clouds
..         ...                  ...          ...               ...
692        693  2017-11-29 20:00:00       281.34        few clouds
693        694  2017-11-29 21:00:00       281.69      sky is clear
694        695  2017-11-29 22:00:00       281.07        few clouds
695        696  2017-11-29 23:00:00       280.06      sky is clear
696        697  2017-11-30 00:00:00       278.46      sky is clear

[697 rows x 4 columns]

### 3.1. Standardizing String values using "snake case".

#### 3.1.1 Standardizing Column Labels.

In [14]:
# Standardize column labels with snake_case format
df_cabs = normalize_columns_headers_format(df_cabs)
df_cabs.columns

Index(['cab_id', 'vehicle_id', 'company_name'], dtype='object')

In [15]:
df_neighborhoods = normalize_columns_headers_format(df_neighborhoods)
df_neighborhoods.columns

Index(['neighborhood_id', 'name'], dtype='object')

In [16]:
df_trips = normalize_columns_headers_format(df_trips)
df_trips.columns

Index(['trip_id', 'cab_id', 'start_ts', 'end_ts', 'duration_seconds', 'distance_miles', 'pickup_location_id', 'dropoff_location_id'], dtype='object')

In [17]:
df_weather_records = normalize_columns_headers_format(df_weather_records)
df_weather_records.columns

Index(['record_id', 'date_and_time', 'temperature', 'description'], dtype='object')

#### 3.1.2 Standardizing Dataframe String values.

In [18]:
# Standardize data frame string values with snake_case format
df_cabs = normalize_string_format(df_cabs, include=['vehicle_id'])
df_cabs = normalize_string_format(df_cabs, include=['company_name'])
df_cabs

     cab_id                                         vehicle_id                      company_name
0         0  0fc17a66d66501eebb7d065fab0db585a1e546ea6e52aa...         dispatch_taxi_affiliation
1         1  38f6145c9a2b848dc1baa16fd91087e606b12bcb8757a9...  taxi_affiliation_services_yellow
2         2  11c21d0290e089e5de4a3c49612642df5cd364c7fd1bf8...         star_north_management_llc
3         3  43c12494b50abeb5a2c4e69b1538e50d625dc2fb8d844c...         dispatch_taxi_affiliation
4         4  a48710b8f311c1332ff9841727e734a4e520cf5cb3c8be...  blue_ribbon_taxi_association_inc
..      ...                                                ...                               ...
195     195  9077249de291bdcb3f9f87f79fe7c757933908fc76f93f...  blue_ribbon_taxi_association_inc
196     196  071d031c64f608418d27905c9ffe95bf52695615683d5f...  taxi_affiliation_services_yellow
197     197  ca34d94ac12a6fa567c1d6769f6309a2ef7f8f275e14fc...  taxi_affiliation_services_yellow
198     198  81250fce5a1d9a7c9faf3a5c15fa647d74eb7510b48933...  taxi_affiliation_services_yellow
199     199  ec9365ed1483ab537c2fc1c146b84bf4a1f6cea82cc320...         star_north_management_llc

[200 rows x 3 columns]

In [19]:
df_neighborhoods = normalize_string_format(df_neighborhoods, include=['name'])
df_neighborhoods

    neighborhood_id            name
0                 0     albany_park
1                 1   andersonville
2                 2  archer_heights
3                 3   armour_square
4                 4         ashburn
..              ...             ...
89               89      west_ridge
90               90       west_town
91               91     wicker_park
92               92        woodlawn
93               93    wrigleyville

[94 rows x 2 columns]

In [20]:
df_weather_records = normalize_string_format(df_weather_records, include=['description'])
df_weather_records

     record_id        date_and_time  temperature       description
0            1  2017-11-01 00:00:00       276.15     broken_clouds
1            2  2017-11-01 01:00:00       275.70  scattered_clouds
2            3  2017-11-01 02:00:00       275.61   overcast_clouds
3            4  2017-11-01 03:00:00       275.35     broken_clouds
4            5  2017-11-01 04:00:00       275.24     broken_clouds
..         ...                  ...          ...               ...
692        693  2017-11-29 20:00:00       281.34        few_clouds
693        694  2017-11-29 21:00:00       281.69      sky_is_clear
694        695  2017-11-29 22:00:00       281.07        few_clouds
695        696  2017-11-29 23:00:00       280.06      sky_is_clear
696        697  2017-11-30 00:00:00       278.46      sky_is_clear

[697 rows x 4 columns]

##### `LSPL`

**Note:** 

The column names and string values did not follow a consistent format; they contained spaces and capital letters, making them difficult to manipulate.

__Solution__: Column names and string values were standardized using lowercase letters, removing spaces, and applying the snake_case format.   
__Impact__: This facilitated data access and manipulation, improving readability and reducing errors in analysis.

### 3.2 Explicit duplicates.

In [21]:
# Show explicit duplicates amount
display(HTML(f"> Explicit duplicates amount Dataframe <i>'df_cabs'</i>: <b>{df_cabs.duplicated().sum()}</b>"))

In [22]:
display(HTML(f"> Explicit duplicates amount Dataframe <i>'df_neighborhoods'</i>: <b>{df_neighborhoods.duplicated().sum()}</b>"))

In [23]:
display(HTML(f"> Explicit duplicates amount Dataframe <i>'df_trips'</i>: <b>{df_trips.duplicated().sum()}</b>"))

In [24]:
display(HTML(f"> Explicit duplicates amount Dataframe <i>'df_weather_records'</i>: <b>{df_weather_records.duplicated().sum()}</b>"))

In [25]:
# Delete explicit duplicated rows
# Not required

##### `LSPL`

**Note:** 

No explicit duplicate rows were detected.

### 3.3 Missing values.

#### 3.3.1 Missing values check.

In [26]:
# Show missing values
check_existing_missing_values(df_cabs)

In [27]:
check_existing_missing_values(df_neighborhoods)

In [28]:
check_existing_missing_values(df_trips)

In [29]:
check_existing_missing_values(df_weather_records)

#### 3.3.2 Replacing missing values (pd.NA).

In [30]:
# Replace missing values with pd.NA
# No need

#### 3.3.3 Preview missing values.

In [31]:
# Show missing values heatmap
# No need

In [32]:
# Show pd.NA missing values for 'columns' column
# No need

#### 3.3.4  Missing values data imputation.

In [33]:
# Handle df_orders pd.NA missing values within 'column_name' column
# No need

##### `LSPL`

**Note:** 

1. No missign values were found

### 3.4 Implicit duplicates.

#### 3.4.1 Implicit duplicates check.

In [34]:
# Show implicit duplicates df_aisles
detect_implicit_duplicates_fuzzy(df_cabs, 'company_name')

> Scanning for duplicates ...: 100%|██████████| 11/11 [00:00<00:00, 10977.24it/s]

In [35]:
detect_implicit_duplicates_fuzzy(df_neighborhoods, 'name')

> Scanning for duplicates ...: 100%|██████████| 94/94 [00:00<00:00, 2136.43it/s]

In [36]:
detect_implicit_duplicates_fuzzy(df_weather_records, 'description')

> Scanning for duplicates ...: 100%|██████████| 19/19 [00:00<00:00, 9497.29it/s]

#### 3.4.2 Implicit duplicates data imputation.

In [37]:
# Imputation
# No need

### 3.5 Casting data types.

#### 3.5.1 Casting to string data type.

In [38]:
# df_cabs 'vehicle_id' to string
df_cabs['vehicle_id'] = df_cabs['vehicle_id'].astype('string')
df_cabs['vehicle_id'].dtypes

string[python]

In [ ]:
# df_cabs 'company_name' to string
df_cabs['company_name'] = df_cabs['company_name'].astype('string')
df_cabs['company_name'].dtypes

string[python]

In [ ]:
# df_neighborhoods 'name' to string
df_neighborhoods['name'] = df_neighborhoods['name'].astype('string')
df_neighborhoods['name'].dtypes

string[python]

In [ ]:
# df_weather_records 'description' to string
df_weather_records['description'] = df_weather_records['description'].astype('string')
df_weather_records['description'].dtypes

string[python]

#### 3.5.2 Casting to numeric data type.

In [42]:
# df_xxx 'column_name' to numeric
# No Need

#### 3.5.3 Casting to category data type.

In [ ]:
# df_cabs 'company_name' to category
df_cabs['company_name'] = df_cabs['company_name'].astype('category')
df_cabs['company_name'].dtypes

In [ ]:
# df_weather_records 'description' to category
df_weather_records['description'] = df_weather_records['description'].astype('category')
df_weather_records['description'].dtypes

CategoricalDtype(categories=['broken_clouds', 'drizzle', 'few_clouds', 'fog', 'haze', 'heavy_intensity_rain', 'light_intensity_drizzle', 'light_rain',
                  'light_snow', 'mist', 'moderate_rain', 'overcast_clouds', 'proximity_thunderstorm', 'proximity_thunderstorm_with_rain',
                  'scattered_clouds', 'sky_is_clear', 'thunderstorm_with_drizzle', 'thunderstorm_with_light_rain', 'thunderstorm_with_rain'],
, ordered=False, categories_dtype=string)

#### 3.5.4 Casting to boolean data type.

In [45]:
# df_xxx 'column_name' to boolean
# No need

#### 3.5.5 Casting to datetime data type.

In [46]:
# df_trips 'start_ts' to datetime
df_trips = normalize_datetime(df_trips, include=['start_ts'], frmt='%Y-%m-%d %H:%M:%S')
df_trips['start_ts'].dtypes

datetime64[ns, UTC]

In [ ]:
# df_trips 'end_ts' to datetime
df_trips = normalize_datetime(df_trips, include=['end_ts'], frmt='%Y-%m-%d %H:%M:%S')
df_trips['end_ts'].dtypes

datetime64[ns, UTC]

In [51]:
# df_weather_records 'date_and_time' to datetime
df_weather_records = normalize_datetime(df_weather_records, include=['date_and_time'], frmt='%Y-%m-%d %H:%M:%S')
df_weather_records['date_and_time'].dtypes

datetime64[ns, UTC]

## __4. Final cleaning dataframe review__.

In [53]:
df_cabs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cab_id        200 non-null    int64
 1   vehicle_id    200 non-null    string
 2   company_name  200 non-null    category
dtypes: category(1), int64(1), string(1)
memory usage: 3.8 KB

In [54]:
df_neighborhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   neighborhood_id  94 non-null     int64
 1   name             94 non-null     string
dtypes: int64(1), string(1)
memory usage: 1.6 KB

In [55]:
df_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              200 non-null    int64
 1   cab_id               200 non-null    int64
 2   start_ts             200 non-null    datetime64[ns, UTC]
 3   end_ts               200 non-null    datetime64[ns, UTC]
 4   duration_seconds     200 non-null    int64
 5   distance_miles       200 non-null    float64
 6   pickup_location_id   200 non-null    int64
 7   dropoff_location_id  200 non-null    int64
dtypes: datetime64[ns, UTC](2), float64(1), int64(5)
memory usage: 12.6 KB

In [56]:
df_weather_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   record_id      697 non-null    int64
 1   date_and_time  697 non-null    datetime64[ns, UTC]
 2   temperature    697 non-null    float64
 3   description    697 non-null    category
dtypes: category(1), datetime64[ns, UTC](1), float64(1), int64(1)
memory usage: 17.8 KB

## __5. Generate a new clean Data set .csv file__.

In [57]:
project_root = Path.cwd().parent
processed_path = project_root / "data" / "processed" / "clean" / "cabs_clean.csv"
df_cabs.to_csv(processed_path, index=False)

In [58]:
project_root = Path.cwd().parent
processed_path = project_root / "data" / "processed" / "clean" / "neighborhoods_clean.csv"
df_neighborhoods.to_csv(processed_path, index=False)

In [59]:
project_root = Path.cwd().parent
processed_path = project_root / "data" / "processed" / "clean" / "trips_clean.csv"
df_trips.to_csv(processed_path, index=False)

In [60]:
project_root = Path.cwd().parent
processed_path = project_root / "data" / "processed" / "clean" / "weather_records_clean.csv"
df_weather_records.to_csv(processed_path, index=False)